@mixin animation($name, $duration)
  -webkit-animation-name: $name
  -moz-animation-name: $name
  animation-name: $name
  -webkit-animation-duration: $duration
  -moz-animation-duration: $duration
  animation-duration: $duration