nav.top-bar
  h2, p
    margin-top: 0px
    margin-bottom: 0px
    font-size: 1em
    display: inline
    color: white
  h2
    display: inline-block
    margin-top: -17px
    vertical-align: middle
  .nav-logo
    display: inline-block
    height: 30px
    width: 30px
    margin: 7px 0px 0px 7px
    background-image: url("../images/logo_nav.png")
    background-size: 30px 30px