<!-- Footer -->

<footer class="row">
  <div class="small-12 columns">
    <hr />
    <div class="row">
      <div class="small-12 columns">
        <fine>Made with Love and Service by the DC Bid Committee for EACYPAA 2015.</fine>
      </div>
    </div>
  </div>
</footer>