<nav class="top-bar" data-topbar>
  <!-- Brand and toggle get grouped for better mobile display -->
  <ul class="title-area">
    <li class="name">
      <div class="left">
        <a href="/">
          <div class="nav-logo rotate"></div>
          <h2>DCYPAA 2015</h2>
        </a>
      </div>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="">
        <span></span>
      </a>
    </li>
  </ul>
  
  <section class="top-bar-section">
    <ul class="right">
      <li>
        <a href="/events/">
          <p>Events</p>
        </a>
      </li>
      <li>
        <a href="#" data-reveal-id="modal_registration">
          <p>Register</p>
        </a>
      </li>
      <li>
        <a href="/hotel/">
          <p>Hotel Info</p>
        </a>
      </li>
      <li>
        <a href="/links/">
          <p>Related Links</p>
        </a>
      </li>
      <li>
        <a href="/contact/">
          <p>Contact</p>
        </a>
      </li>
    </ul>
  </section>
  
</nav>