---
title: Upcoming Events
---

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Events</h2>
    </div>
  </div>
</div>

<div class="row">
   
  <!-- Main Feed -->
  <div class="medium-12 columns">

    <!-- Feed Entry -->
    <div class="row">
      <div class="medium-3 small-6 columns"><p><img src="http://placehold.it/80x80&text=[img]" /></p></div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>Event Title</h3> <br />
          Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
        </p>
        <i>Tuesday, November 26th</i>
        <fine>Contact XXXXX for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->

  </div>

</div>

