---
title: Upcoming Events
---

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Events</h2>
    </div>
  </div>
</div>

<div class="row">
   
  <!-- Main Feed -->
  <div class="medium-12 columns">

    <!-- Feed Entry -->
    <div class="row">
      <div class="medium-3 small-6 columns"><p><img src="http://placehold.it/80x80&text=[img]" /></p></div>
      <div class="medium-9 small-12 columns">
        <p>
          <h3>DCYPAA Bid Committee Meeting</h3> <br />
          The DCYPAA Bid Committee meets every first and third Saturday of the month at 2:30 PM. Please feel free to join us! We meet at <a href="/info">2100 New Hampshire Ave NW, Washington DC 20009</a>.</p>
					<p>
					The next meeting will be: 
        </p>
        <i>Saturday, January 4th, 2014</i> <br /> <br/>
        <fine>Contact chair@dcypaa.org for more information.</fine>
        
      </div>
    </div>
    <!-- End Feed Entry -->

  </div>

</div>

