<p>
  <img src="http://placehold.it/1000x400&text=[banner img]" />
</p>

  <!-- Main Content Section -->

  <div class="row">

    <div class="large-8 columns">
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>

    <div class="large-4 columns">

      <!-- Gallery sidebar with a block grid. Note: block grid items should be the same size for optimal results -->

      <ul class="small-block-grid-2" id="event_grid">
        <li>
          <a href="/events/">
            <img src="http://placehold.it/120x120" />
            <h3>Event Title</h3>
            <p>More event Info</p>
            <i>Tuesday, November 26th</i>
          </a>
        </li>
        <li>
          <a href="/events/">
            <img src="http://placehold.it/120x120" />
            <h3>Event Title</h3>
            <p>More event Info</p>
            <i>Tuesday, November 26th</i>
          </a>
        </li>
        <li>
          <a href="/events/">
            <img src="http://placehold.it/120x120" />
            <h3>Event Title</h3>
            <p>More event Info</p>
            <i>Tuesday, November 26th</i>
          </a>
        </li>
        <li>
          <a href="/events/">
            <img src="http://placehold.it/120x120" />
            <h3>Event Title</h3>
            <p>More event Info</p>
            <i>Tuesday, November 26th</i>
          </a>
        </li>
      </ul>
    </div>

  </div>


  <!-- Call to Action Panel -->
  <div class="row">
    <div class="medium-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="medium-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="medium-3 columns">
            <%= link_to 'Contact Us', '/contact/', :class => 'radius button right' %>
          </div>
        </div>
      </div>

    </div>
  </div>


