---
title: Coming Soon
---
<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div class="welcome container">
				<div id="logo">
				  <%= image_tag "logo@2x.png", :id  => "logo" %>
				</div>
			</div>
			</div>
			<div class="col-md-8">
				<h1>DCYPAA 2015</h1>
				<p>Coming soon.</p>
			</div>
	</div>
	<div class="row">
		<div class="col-md-2">
			<button type="button" class="btn btn-primary btn-lg">Home</button>
			<button type="button" class="btn btn-primary btn-lg">Register!</button>
			<button type="button" class="btn btn-primary btn-lg">Hotel Info</button>
			<button type="button" class="btn btn-primary btn-lg">Contact Us</button>
		</div>
		<div class="col-md-8">
			Main content area
		</div>
		<div class="col-md-2"><p>thing on the right</p>
		</div>
	</div>
</div>


