<p>
  <img data-interchange="[images/1280px-Washington_dc_skyline.jpg, (default)], [images/Washington_dc_skyline.jpg, (large)], [images/1280px-Washington_dc_skyline.jpg, (retina), [images/1024px-Washington_dc_skyline.jpg, (small)]]">
</p>

<!-- Main Content Section -->
<div class="row">
  <div class="medium-7 columns">
    <h3>Welcome to the DC Bid Committee's website for EACYPAA in 2015!</h3>
    <p>We are a fellowship of young men and women in the District of Columbia who share our experience, strength, and hope with each other in order to stay sober and help other Alcoholics achieve sobriety. We want to show others that suffering is not a requirement for sobriety. As young members of Alcoholics Anonymous we try to live purposeful, fun, eventful lives without the use of alcohol. We are a diverse group of people of many different ethnicities, beliefs, and backgrounds, that normally would not mix but within us there exists an understanding, respect, and community that creates a fellowship of true friends. Although we are a fellowship of young people within Alcoholics Anonymous, we have no age limits so if you enjoy living life we have a place for you.</p>
  </div>
  <div class="medium-5 columns">

    <p>
      <%= image_tag "white_chairs.jpg" %>
    </p>
      
  </div>
</div>
<div class="row">
  <div class="panel text-center">
    <h2>Upcoming Events</h2>
  </div>
</div>
  <!-- Event -->
  
  <div class="row">
    <div class="small-4 columns">
      <p>
        <%= image_tag "outstretched_hand.jpeg" %>
      </p>
    </div>
    <div class="small-8 columns">
      <h3>Service Workshop</h3>
      <p>The Bid Committee for DCYPAA is hosting a Service Workshop, featuring three speakers and a panel discussion about how to get involved in all levels of AA service.</p>
      <i>Saturday, December 14th</i>
    </div>
  </div>
  
  <div class="row">
    <hr />
  </div>
  
  <div class="row">
    <div class="small-4 columns">
      <p>
        <%= image_tag "dcypaa120.png" %>
      </p>
    </div>
    <div class="small-8 columns">
      <h3>DCYPAA Bid Committee Meeting</h3>
      <p>The next DCYPAA Bid Committee Meeting will be held at Augustana Lutheran Church, 2100 New Hampshire Ave NW, Washington DC 20009</p>
      <i>Saturday, January 4th at 2:30 PM</i>
    </div>
  </div>


  



