---
title: Welcome to Middleman
author: Adam Levy
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/", :target => "_blank" %>
  </p><!-- .doc -->
  <p class="link">
    <%= link_to "About", '/about' %>
  </p>
</div><!-- .welcome -->