<p>
  <%= image_tag "dcflagbannerblue.png" %>
</p>

<!-- Main Content Section -->
<div class="row">
  <div class="medium-7 columns">
    <h3>Welcome to the DC Bid Committee's website for EACYPAA in 2015!</h3>
    <p>We are a fellowship of young men and women in the District of Columbia who share our experience, strength, and hope with each other in order to stay sober and help other Alcoholics achieve sobriety. We want to show others that suffering is not a requirement for sobriety. As young members of Alcoholics Anonymous we try to live purposeful, fun, eventful lives without the use of alcohol. We are a diverse group of people of many different ethnicities, beliefs, and backgrounds, that normally would not mix but within us there exists an understanding, respect, and community that creates a fellowship of true friends. Although we are a fellowship of young people within Alcoholics Anonymous, we have no age limits so if you enjoy living life we have a place for you.</p>
  </div>
  <div class="medium-5 columns">

    <p>
      <%= image_tag "white_chairs.jpg" %>
    </p>
      
  </div>
</div>
<div class="row">
  <div class="panel text-center">
    <h2>Upcoming Events</h2>
  </div>
</div>
  <!-- Event -->
  
  <div class="row">
    <div class="small-4 columns">
      <p>
        <%= thumbnail_to "Bingo_Flier_DCYPAA.pdf", "Bingo_Flier_DCYPAA.jpg" %>
      </p>
    </div>
    <div class="small-8 columns">
      <h3>DCYPAA Bingo and Bake-Off</h3>
      <p>Join us for a Bingo and Bake-Off night! Bring a baked good for a 5 dollar discount at the door, or register for EACYPAA 2014 and get in for free!</p>
      <i>Friday, January 17th</i>
    </div>
  </div>
  
  <div class="row">
    <hr />
  </div>
  
  <div class="row">
    <div class="small-4 columns">
      <p>
        <%= thumbnail_to "dcypaa_open_mic.pdf", "dcypaa_open_mic.jpg" %>
      </p>
    </div>
    <div class="small-8 columns">
      <h3>MDYPAA and DCYPAA Open Mic Night!</h3>
      <p>Waiting for that opportunity to showcase or try out a new talent? It's arrived, courtesy of a collaboration between DCYPAA and the MD Bid Committee for ICYPAA (The International Conference of Young People in AA).</p>
      <i>Saturday, January 25th at 10:30 PM</i>
    </div>
  </div>


  



