<p>
  <img data-interchange="[images/1280px-Washington_dc_skyline.jpg, (default)], [images/Washington_dc_skyline.jpg, (large)], [images/1280px-Washington_dc_skyline.jpg, (retina), [images/1024px-Washington_dc_skyline.jpg, (small)]]">
</p>

<!-- Main Content Section -->
<div class="row">
  <div class="medium-7 columns">
    <h3>Welcome to the DC Bid Committee's website for EACYPAA in 2015!</h3>
    <p>This site will be all you need for anything relating to EACYPAA in DC. We have lots of cool things happening here! You can register, you can get hotel information, or you can even contact us and let us know how great you feel about the website (or yourself)!</p>
  </div>
  <div class="medium-5 columns">

    <p>
      <%= image_tag "white_chairs.jpg" %>
    </p>
      
  </div>
</div>


  <!-- Event -->
  
  <div class="row">
    <div class="small-4 columns">
      <p>
        <%= image_tag "outstretched_hand.jpeg" %>
      </p>
    </div>
    <div class="small-8 columns">
      <h4>Service Workshop</h4>
      <p>The Bid Committee for DCYPAA is hosting a Service Workshop, featuring three speakers and a panel discussion about how to get involved in all levels of AA service.</p>
      <i>Saturday, December 14th</i>
    </div>
  </div>
  
  <div class="row">
    <div class="small-4 columns">
      <p>
        <%= image_tag "dcypaa120.png" %>
      </p>
    </div>
    <div class="small-8 columns">
      <h4>DCYPAA Bid Committee Meeting</h4>
      <p>The next DCYPAA Bid Committee Meeting will be held at Augustana Lutheran Church, 2100 New Hampshire Ave NW, Washington DC 20009</p>
      <i>Saturday, January 4th at 2:30 PM</i>
    </div>
  </div>


  



