<p>
  <img src="http://placehold.it/1000x400&text=[banner img]" />
</p>

  <!-- Main Content Section -->

  <div class="row">

    <div class="medium-7 columns">
      <h4>Welcome to the DC Bid Committee's website for EACYPAA in 2015!</h4>
      <p>This site will be all you need for anything relating to EACYPAA in DC. We have lots of cool things happening here! You can register, you can get hotel information, or you can even contact us and let us know how great you feel about the website (or yourself)!</p>
			<p>Just don't be afraid to click around. You can even mouse over the neato logo in the top left of the screen, it spins! If you're on a mobile device, sorry.</p>
    </div>

    <div class="medium-5 columns">

			<img src="http://placehold.it/400x300" />
      
    </div>

  </div>

  <div class="row">
    <div class="medium-4 columns"></div>
    <div class="medium-8 columns">
			<!-- Event -->
      <div class="row">
      	<div class="small-4 columns">
      		<p><img src="http://placehold.it/120x120" /></p>
      	</div>
				<div class="small-8 columns">
          <h4>DCYPAA Bid Committee Meeting</h4>
          <p>The next DCYPAA Bid Committee Meeting will be held at Augustana Lutheran Church, 2100 New Hampshire Ave NW, Washington DC 20009</p>
          <i>Saturday, December 7th at 2:30 PM</i>
				</div>
      </div>
    </div>
  </div>

  <!-- Call to Action Panel -->
  <div class="row">
    <div class="medium-12 columns">

      <div class="panel">
        <h4>Get in touch!</h4>

        <div class="row">
          <div class="medium-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="medium-3 columns">
            <%= link_to 'Contact Us', '/contact/', :class => 'radius button right' %>
          </div>
        </div>
      </div>

    </div>
  </div>


