---
title: Information
---
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>About Us</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-5 large-4 columns">
    <h5>Where We Meet</h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <iframe width="300" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.020034,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      </a>
      <br />
      <a href="" data-reveal-id="mapModal">View Map</a>
    </p>
    <p>
      2100 New Hampshire Ave NW<br />
      Washington, DC 20009
    </p>
  </div>
  
  <div class="medium-7 large-8 columns">
    <h3>Mission Statement</h3>
    <p>Bacon ipsum dolor sit amet spare ribs voluptate labore, chuck consectetur pariatur nulla fugiat ut short loin dolor hamburger qui. Nisi officia anim, sint strip steak turducken ut voluptate. Sed cillum bresaola minim velit biltong. Voluptate consequat flank occaecat, short loin incididunt magna esse sausage salami fugiat biltong tail turkey.
Dolore chuck turkey salami culpa voluptate. Nulla ham hock quis, short loin aliqua in aliquip anim corned beef excepteur qui. Sed excepteur id pork, drumstick veniam adipisicing tail bacon officia tri-tip andouille sirloin pastrami. Tenderloin cillum meatball t-bone drumstick, pork belly aliquip kielbasa nisi cow pig sint. Pastrami frankfurter shankle, swine tenderloin in nulla strip steak. Excepteur ut tenderloin t-bone mollit elit drumstick, do laboris quis qui. Drumstick in ut tempor, filet mignon venison rump ea turkey elit mollit flank ut tongue veniam.
Tri-tip do nulla short ribs, cillum rump prosciutto consectetur sirloin. Cow beef qui fugiat, duis minim ut. Turkey exercitation salami kielbasa, proident ad fatback pork belly pork chop adipisicing tongue esse dolore shoulder. Id pork belly nulla magna, turducken corned beef tenderloin shoulder ea enim velit biltong ribeye short ribs. Est meatloaf pastrami prosciutto.
Pork sausage tongue brisket ground round, jerky hamburger drumstick. Proident et anim biltong, tri-tip sausage nulla. Nisi ullamco tail reprehenderit. Sint voluptate prosciutto, capicola anim ad brisket tongue ham turducken mollit proident.</p>
  </div>
  <!-- End Sidebar -->
</div>

<div class="row">
  <div class="large-12 columns">
    <section class="section" id="members_grid">
      <h5 class="title"><a href="#panel2">Specific Committee Members</a></h5>
      <div class="content" data-slug="panel2">
        <ul class="medium-block-grid-5 small-block-grid-2">
          <li><a href="mailto:chair@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Committee Chair</a></li>
          <li><a href="mailto:secretary@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Secretary</a></li>
          <li><a href="mailto:webmaster@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Website Chair</a></li>
          <li><a href="mailto:outreach@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Outreach</a></li>
          <li><a href="mailto:events@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Events Chair</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>

<div class="reveal-modal medium" id="mapModal" data-reveal>
   <h4>Where We Meet</h4>
   <p>
     <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.032054,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
   </p>
   <p>Come join us on the first and third saturdays of every month!</p>
   <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
   <a href="#" class="close-reveal-modal">&times;</a>
 </div>
