---
title: Information
---
<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>About Us</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-4 large-3 columns">
    <h5>Where We Meet</h5>
    <!-- Clicking this placeholder fires the mapModal Reveal modal -->
    <p>
      <a href="" data-reveal-id="mapModal">
        <iframe width="300" height="280" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.020034,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
      </a>
      <br />
      <a href="" data-reveal-id="mapModal">View Map</a>
    </p>
    <p>
      2100 New Hampshire Ave NW<br />
      Washington, DC 20009
    </p>
  </div>
  <!-- End Sidebar -->
</div>
</div>

<div class="row">
  <div class="large-12 columns">
    <section class="section" id="members_grid">
      <h5 class="title"><a href="#panel2">Specific Committee Members</a></h5>
      <div class="content" data-slug="panel2">
        <ul class="medium-block-grid-5 small-block-grid-2">
          <li><a href="mailto:chair@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Committee Chair</a></li>
          <li><a href="mailto:secretary@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Secretary</a></li>
          <li><a href="mailto:webmaster@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Website Chair</a></li>
          <li><a href="mailto:outreach@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Outreach</a></li>
          <li><a href="mailto:events@dcypaa.org"><img src="http://placehold.it/200x200&amp;text=[person]">Events Chair</a></li>
        </ul>
      </div>
    </section>
  </div>
</div>

<div class="reveal-modal medium" id="mapModal" data-reveal>
   <h4>Where We Meet</h4>
   <p>
     <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=2100+NEw+hampshire+ave+nw&amp;ie=UTF8&amp;hq=&amp;hnear=2100+New+Hampshire+Ave+NW,+Washington,+District+of+Columbia,+20009&amp;t=m&amp;ll=38.918418,-77.03536&amp;spn=0.032054,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
   </p>
   <p>Come join us on the first and third saturdays of every month!</p>
   <!-- Any anchor with this class will close the modal. This also inherits certain styles, which can be overriden. -->
   <a href="#" class="close-reveal-modal">&times;</a>
 </div>
